section {
  margin-bottom: 40px;
}

.jumbotron {
  text-align: center;
}

h2 {
  padding-top: 5%;
  padding-bottom: 5%;
}

footer {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;
}

#resume {
  text-align: center;
}

#my_story h2 {
  padding: 5%;
  text-align: center;
}

#my_story {
  margin-left: 20%;
  margin-right: 20%;
}

#contacts ul {
  list-style-type:none;
  padding-left: 0;
}

#contacts li {
  margin: 10px;
}

#my_story p {
  text-indent: 1cm;
}

#project1 {
  width: 18cm;
  height: 12cm;
}

#twitch-logo {
  width: 40%;
}

#igdb-logo {
  height: 20%;
}

#kaggle-logo {
  height: 20%;
}

img {
  padding: 1%;
}