.jumbotron {
  text-align: center;
  background-image: url("../images/3b8ad2c7b1be2caf24321c852103598a.jpg");
  background-size: cover;
}

section {
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top:30px;
  padding-bottom: 30px;
}

.alternate {
  background-color: rgb(250, 250, 249);
}

#intro {
  color: white;
}

h2 {
  padding-top: 2%;
  padding-bottom: 2%;
}

footer {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;
}

#resume {
  text-align: center;
}

#my_story h2 {
  padding: 5%;
  text-align: center;
}

#my_story {
  margin-left: 20%;
  margin-right: 20%;
}

#my_story p {
  text-indent: 1cm;
}

#project1 {
  width: 19cm;
  height: 13cm;
}

#twitch-logo {
  /* height:190px; */
  width: 350px;
  padding-bottom: 25px;
}

#igdb-logo {
  /* height:145px; */
  width: 350px;
  padding-bottom: 25px;
}

#kaggle-logo {
  /* height:145px; */
  width: 350px;
}

#leg-logo {
  /* height: 460px; */
  width: 350px;
  padding-bottom: 25px;
}

#among-logo {
  /* height: 460px; */
  width: 350px;
}

.mental-screenshots {
  width:49%;
}

.bigger-contacts {
  font-size: 20px;
}

.icons {
  padding-right: 10px;
  padding-bottom: 15px;
}

.btn-primary {
  margin: 5px;
}